* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$main-color: #6b2fcc;
$bg-color: #0a0a0a;
$text-color: #fff;

body {
    font-family: 'Arial', sans-serif;
    background-color: $bg-color;
    color: $text-color;
    line-height: 1.6;
}


@mixin flex-center($justify: center, $align: center, $flexdirection: column) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flexdirection;
}




header {
    position: fixed;
    width: 100%;
    z-index: 99;

    nav {
        @include flex-center(space-between, center, row);
        padding: 10px 20px;
        background-color: $text-color;


        img {
            height: 50px;
        }

        div a {
            color: $bg-color;
            margin-left: 20px;
            text-decoration: none;
            font-size: 18px;

            &:hover {
                color: $main-color;
            }
        }
    }
}


.section1 {
    @include flex-center(space-between, start, column);

    text-align: center;
    padding: 50px 0px;
    height: 100vh;


    h1 {
        @include flex-center(space-between, start, column);
        margin: 16px;
        font-size: 5rem;
        font-family: 'Remboy', sans-serif;
        color: $text-color;

        span {
            color: $main-color;
        }
    }

    img {

        width: 50%;
        max-width: 400px;
        position: absolute;
        bottom: 0;
        right: 0;

    }

    @media (min-width: 768px) {
        @include flex-center(space-between, start, row);


        h1 {
            font-size: 7rem;
            margin-left: 10%;
        }

        img {
            max-width: 400px;

        }
    }

    @media (min-width: 1324px) {
        @include flex-center(start, center, row);

        h1 {
            @include flex-center(start, center, row);

            gap: 20px;
            font-size: 8rem;
        }


    }
}


.machine-analytique {
    @include flex-center(center, center, column);

    position: relative;


    h2 {
        text-align: center;
        font-family: 'Remboy', sans-serif;
        font-size: 3rem;
        color: $text-color;
    }

    div {
        position: relative;
        padding-top: 90px;

        .light {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background: radial-gradient(circle, #880824 00%, #00000000 60%);
            border-radius: 50%;
            z-index: 1;
            opacity: 0.7;


        }


        img {
            width: 80%;
            position: relative;
            z-index: 2;
            margin-left: 10%;

        }


        ul {
            background-color: $main-color;
            padding: 30px;
            width: 90%;

            padding-left: 50px;
            padding-right: 10%;
            margin-left: 10%;
            border-radius: 50px 0 0 50px;



            li {
                margin-bottom: 15px;
                font-size: 1.2rem;


            }

        }
    }

    @media (min-width: 768px) {



        height: 100vh;

        h2 {
            font-size: 4rem;
        }

        div {
            @include flex-center(space-between, center, row);
            padding-top: 0px;

            .light {
                top: -30px;
                left: 30%;
                width: 70%;


            }

            img {
                width: 60%;
            }


            ul {
                padding-left: 15%;
                padding-right: 10%;
                margin-left: -15%;


            }
        }
    }

    @media (min-width: 1024px) {

        div {

            .light {
                top: -150px;
            }


            ul {
                padding-left: 15%;
                padding-right: 15%;


            }

        }
    }

    @media (min-width: 1444px) {

        div {

            .light {
                top: -200px;
            }


            img {
                margin-left: 5%;


            }

        }
    }

}

.section-separator {
    @include flex-center(center, center, row);
    gap: 10px;
    margin: 40px 0;

    .line {
        flex-grow: 1;
        max-width: 600px;
        margin: 10px;
        height: 2px;
        background-color: #fff;
    }

    img {
        width: 60px;
        height: auto;
    }
}

.impact {
    @include flex-center(center, center, column);
    position: relative;
    color: $text-color;
    overflow: hidden;
    margin-top: 20px;


    h2 {
        font-family: 'Remboy', sans-serif;
        font-size: 4rem;

    }

    blockquote {
        font-style: italic;
        margin: 20px 0;
    }

    .slider-container {
        display: flex;
        width: 100vw;
   
        position: relative;
        transition: transform 0.5s ease-in-out;
 



        .slide {
            @include flex-center(center, center, column);
            padding: 20px;
            flex: 0 0 100vw;
            



            h3 {
                font-family: 'Remboy', sans-serif;
                font-size: 2rem;

            }

            div {
                @include flex-center(center, center, row);
                margin: 20px;
                margin-left: 50px;
                max-width: 800px;




                img { 
                    min-width: 400px;
                    max-width: 400px;
                }

                div {
                    @include flex-center(space-between, start, column);

                    p {
                        font-size: 1.2rem;
                    }

                    ul {
                        padding-left: 20px;

                        li {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .slider-arrows {
        top: -20%;
        position: absolute;
        @include flex-center(space-between, center, row);
        width: 100%;
        padding: 0 20px;
        bottom: 10px;


        .arrow {
            font-size: 3rem;
            cursor: pointer;

        }
    }



}




@font-face {
    font-family: 'Remboy';
    src: url('../remboy/Remboy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}