@use 'variable.scss' as *;

form {
    padding: 20px;
    
    max-width: 500px;
    @include flex-center (center, center, column);

    .date{
        @include flex-center (center, center, column);

        
        .section {
            @include flex-center (center, center, column);
        }
        
    }

        label{
            font-weight: bold;
        }
        
        .label {
           
            margin-top: 32px;
            margin-bottom: 16px;
            
        }

        .suivant{
            margin-top: 16px;
            background-color: $main-color;
            padding: 8px 20px;
            border-radius: 2px;
            font-weight: bold;
            color: $text-color;
            border: none;
            &:hover {
                    text-decoration: underline;
                }
        }
        
        @media (min-width: 768px) {
            .date {
                    @include flex-center (center, center, row);
                    gap: 48px;

                    .section {
                            @include flex-center (start, start, column);
                        }
        
                }
            
        }


    .inscription{
        @include flex-center(center, center, column);
        width: 400px;
        margin-top: 32px;

        label{
            width: 100%;
            margin: 16px 8px;
        }
                .suivant {
        
                    margin-top: 16px;
                }
    }
}