$main-color: #673ab7;
$black: #0a0a0a;
$text-color: #fff;


@mixin flex-center($justify: center, $align: center, $flexdirection: column) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flexdirection;
}